.task-list-container {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .task-list-container  button {
   

    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .task-list-container h2 {
    color: #343a40;
    margin-bottom: 10px;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th, .task-table td {
    padding: 10px;
    border: 1px solid #ced4da;
  }
  
  .task-table th {
    background-color: #007bff;
    color: #fff;
  }
  
  .task-table td {
    text-align: center;
  }
  
  .update-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .update-button:hover {
    background-color: #218838;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  